In [3]:
# IMPORT REQUIRED LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df=pd.read_csv('music.csv.csv')
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [23]:
# ASSUMING INPUT X AS INDEPENDENT VARIABLES
x=df.drop(columns=['genre'])
x

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [24]:
# OUTPUT Y AS DEPENDENT VARIABLES
y=df['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [25]:
# BY USING DECISION TREE CLASSIFIER ALGORITHM
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x,y)

DecisionTreeClassifier()

In [26]:
# PREDICTIONS 
pred=model.predict([[21,1],[22,0]])
pred

array(['HipHop', 'Dance'], dtype=object)

In [27]:
# TRAINGING THE BOTH X AND Y DATA
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [28]:
# FITTING THE DATA INTO THE ALGO
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [29]:
# PREDICTING THE VALUES OF Y 
y_pred=model.predict(x_test)
y_pred

array(['HipHop', 'Classical', 'Classical', 'Dance', 'Acoustic'],
      dtype=object)

In [31]:
# CALCULATING THE ACCURACY OF THE MODEL
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)*100
score

100.0

In [41]:
# DUMPING THE ABOVE DATA INTO THE SEPERATE FILE 
import joblib
joblib.dump(model,'music-rec.joblib')

['music-rec.joblib']

In [42]:
# FINAL OUTPUT BY TREE MODEL
from sklearn import tree
tree.export_graphviz(model,out_file='music.rec.dot',feature_names=['age','gender'],class_names=sorted(y.unique()),label='all',
                    rounded=True,filled=True)